<ul class="layout-menu mt-5">

    <div class="image-profil-role mb-4">
        @if (userConnected.photo == null || !userConnected.photo) {
            <i class="pi pi-user" style="font-size: 1.2rem"></i>
        } @else {
            <div class="bloc-image-profil">
                <img [src]="userConnected.photo" alt="photo de profil" />
            </div>
        }
        <div>
            <p class="mb-0 font-bold">{{userConnected.nom}}</p>
            <p>{{userConnected.email}}</p>
        </div>
    </div>

    <ng-container *ngFor="let item of menulist; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>